@charset "UTF-8" ;


* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #5F2C82;
}



main {
    background-color: white;
    width: 250px;
    height: 60vh;
    position: relative;
    margin: auto;
    margin-top: 160px;
    border-radius: 20px;
    
    
}

main > h2 {
    text-align: center;
    position: relative;
    top: 175px;
}

main > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
   text-align: left;
   position: relative;
   top: 185px;
   left: 8px;
    
}

div#login {
    input{
        background-color: #94CFCD;
        border-radius: 5px;
        height: 30px;
        position: relative;
        top: 193px;
        width: 190px;
        height: 40px;
    }

    label {
        position: relative;
        top:193px;
    }
}

div#pass {
    input {
    background-color: #94CFCD;
    position: relative;
    top:200px;
    left: 11px;
    border-radius: 5px;
    height: 40px;
    width: 190px;    

    }

    label {
        position: relative;
        top: 200px;
        left: 11px;
    }

}

div#entrar {
    input {
        background-color: #94CFCD;
        color: white;
        height: 45px ;
        border-radius: 5px;
        border-color: #94CFCD;
        width: 222px;
        position: relative;
        left: 12px;
        top: 205px;
    }
}